<router-outlet></router-outlet>

<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <a [routerLink]="['./labels']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.settings.labels' | translate }}</span>
    </a>
    <a [routerLink]="['./categories']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.settings.categories' | translate }}</span>
    </a>
    <a [routerLink]="['./accounts']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.settings.accounts' | translate }}</span>
    </a>
    <a [routerLink]="['./transactions']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.settings.transactions' | translate }}</span>
    </a>
  </section>
</nav>
