<router-outlet></router-outlet>

<clr-vertical-nav [clr-nav-level]="2">
  <a clrVerticalNavLink [routerLink]="['./labels']" routerLinkActive="active">
    <span class="nav-text">{{ 'i18n.components.navigation.settings.labels' | translate }}</span>
  </a>
  <a clrVerticalNavLink [routerLink]="['./categories']" routerLinkActive="active">
    <span class="nav-text">{{ 'i18n.components.navigation.settings.categories' | translate }}</span>
  </a>
  <a clrVerticalNavLink [routerLink]="['./accounts']" routerLinkActive="active">
    <span class="nav-text">{{ 'i18n.components.navigation.settings.accounts' | translate }}</span>
  </a>
  <!--<a clrVerticalNavLink [routerLink]="['./transactions']" routerLinkActive="active">-->
    <!--<span class="nav-text">{{ 'i18n.components.navigation.settings.transactions' | translate }}</span>-->
  <!--</a>-->
</clr-vertical-nav>
