<header class="header-6">
  <div class="branding">
    <a uiSref="root" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Project Clarity</span>
    </a>
  </div>
  <div class="header-nav">
    <a uiSref="root.dashboard" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Dashboard</span>
    </a>
    <a uiSref="root.transactions" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Transactions</span>
    </a>
  </div>
  <div class="header-actions">
    <a href="..." class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
