<div *ngIf="budget" class="card">
  <div class="card-block">
    <h4 class="card-title">
      <strong>{{ budget.name }}</strong><br/>
      <span class="budget-name">{{ budget.description }}</span>
    </h4>
    <div class="card-text">
      <div class="clr-row">
        <div class="clr-col clr-col-6">
          <strong>{{ 'i18n.components.budgets.budget-card.accounts' | translate }}</strong><br/>
          <span *ngFor="let account of budget.accounts"
                class="label"
                [ngStyle]="{ border: '1px solid ' + account.color, background: account.color + '30' }">
            {{ account.name }}
          </span>
          <span *ngIf="budget.accounts == null || budget.accounts.length === 0">
            {{ 'i18n.components.budgets.budget-card.all-accounts' | translate }}
          </span>
        </div>
        <div class="clr-col clr-col-6">
          <strong>{{ 'i18n.components.budgets.budget-card.labels' | translate }}</strong><br/>
          <span *ngFor="let label of budget.labels"
                class="label"
                [ngStyle]="{ border: '1px solid ' + label.color, background: label.color + '30' }">
            {{ label.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong class="mr-md">{{ 'i18n.components.budgets.budget-card.amount' | translate }}</strong>
      <span>&nbsp;{{ budget.amount | number:'1.2-2' }} €</span>
      <span>&nbsp;</span>
      <span>{{ 'i18n.components.budgets.budget-card.period-type.' + budget.period | translate }}</span>
    </li>
  </ul>
</div>
