<div class="clr-row">
  <div *ngIf="budget" class="clr-col-12 clr-col-md-4">

    <!-- Budget details -->
    <app-budget-card [budget]="budget">
    </app-budget-card>

    <!-- Year select -->
    <app-years-toggle [currentYear]="currentYear"
                      (onChange)="changeYear($event)">
    </app-years-toggle>

    <!-- Month select -->
    <app-months-toggle *ngIf="isMonthSelectable()"
                       [currentMonth]="currentMonth"
                       (onChange)="changeMonth($event)">
    </app-months-toggle>

    <!-- The budget summary -->
    <app-budget-summary [statusList]="statusList">
    </app-budget-summary>

  </div>
  <div class="clr-col-12 clr-col-md-8">

    <!-- The budget history chart -->
    <app-budget-history-chart [chartTitle]="'i18n.components.budgets.budget-history-chart.title' | translate"
                              [data]="statusList">
    </app-budget-history-chart>

  </div>
</div>

<h3>
  <span>{{ 'i18n.views.transactions.list.title' | translate }}</span>
  <span>&nbsp;</span>
  <span *ngIf="transactions" class="badge badge-info">{{ transactions?.length }}</span>
</h3>

<div class="clr-row">
  <div class="clr-col-12">
    <app-transactions-table [transactions]="transactions"
                            [editable]="false">
    </app-transactions-table>
  </div>
</div>
