<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Budget details -->
    <app-budget-card *ngIf="budget"
                     [budget]="budget">
    </app-budget-card>

    <!-- Year select -->
    <app-years-toggle [currentYear]="currentYear"
                      (onChange)="changeYear($event)">
    </app-years-toggle>

    <!-- Month select -->
    <app-months-toggle *ngIf="isMonthSelectable()"
                       [currentMonth]="currentMonth"
                       (onChange)="changeMonth($event)">
    </app-months-toggle>

    <!-- The budget summary -->
    <app-budget-summary [statusList]="statusList">
    </app-budget-summary>

  </div>
  <div class="clr-col-12 clr-col-md-8">

    <!-- The budget history chart -->
    <app-budget-history-chart [chartTitle]="'i18n.components.budgets.budget-history-chart.title' | translate"
                              [data]="statusList">
    </app-budget-history-chart>

  </div>
</div>
