<div class="clr-row">
  <div *ngIf="budget" class="clr-col-12 clr-col-md-4">

    <!-- Budget details -->
    <app-budget-card [budget]="budget">
    </app-budget-card>

    <div class="text-right">
      <button type="button" class="btn btn-sm btn-icon btn-info mr-0" (click)="openModal()">
        <span>{{ 'i18n.views.budgets.budget-details.button.edit' | translate }}</span>
      </button>
    </div>

    <!-- Year select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (onChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Month select -->
    <app-card-wrapper *ngIf="isMonthSelectable()"
                      [label]="'i18n.components.dates.label.month-dropdown' | translate">
      <app-months-toggle [currentMonth]="currentMonth"
                         (onChange)="changeMonth($event)">
      </app-months-toggle>
    </app-card-wrapper>

    <!-- The budget summary -->
    <app-budget-summary [statusList]="statusList">
    </app-budget-summary>

  </div>
  <div class="clr-col-12 clr-col-md-8">

    <!-- The budget history chart -->
    <app-budget-history-chart [chartTitle]="'i18n.components.budgets.budget-history-chart.title' | translate"
                              [data]="statusList">
    </app-budget-history-chart>

  </div>
</div>

<h3>
  <span>{{ 'i18n.views.transactions.list.title' | translate }}</span>
  <span>&nbsp;</span>
  <span *ngIf="transactions" class="badge badge-info">{{ transactions?.length }}</span>
</h3>

<div class="clr-row">
  <div class="clr-col-12">
    <app-transactions-table [transactions]="transactions"
                            [editable]="false">
    </app-transactions-table>
  </div>
</div>

<clr-modal *ngIf="budget"
           [(clrModalOpen)]="showModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ budget.name }}</h3>
  <div class="modal-body">
    <app-budget-form [model]="budget"
                     [labels]="labels"
                     [accounts]="accounts"
                     (onFormSubmit)="saveBudget($event)"
                     (onFormCancel)="closeModal()"
                     (onFormDelete)="deleteBudget($event)">
    </app-budget-form>
  </div>
</clr-modal>
