<form [formGroup]="form"
      (ngSubmit)="submitForm()">

  <section class="form-block compact">
      <app-field-wrapper for="reference"
                         [i18nLabel]="'i18n.modules.transactions.form.reference'"
                         [ctrl]="form.get('reference')"
                         class="form-group row">
        <input id="reference"
               [formControlName]="'reference'"
               type="text" />
      </app-field-wrapper>
      <app-field-wrapper for="description"
                         [i18nLabel]="'i18n.modules.transactions.form.description'"
                         [ctrl]="form.get('description')"
                         class="form-group row">
        <textarea id="description"
                  [formControlName]="'description'"
                  rows="3">
        </textarea>
      </app-field-wrapper>
      <app-field-wrapper for="dateValue"
                         [i18nLabel]="'i18n.modules.transactions.form.dateValue'"
                         [ctrl]="form.get('dateValue')"
                         class="form-group row">
        <input id="dateValue"
               [formControlName]="'dateValue'"
               type="text" />
      </app-field-wrapper>
      <app-field-wrapper for="amount"
                         [i18nLabel]="'i18n.modules.transactions.form.amount'"
                         [ctrl]="form.get('amount')"
                         class="form-group row">
        <input id="amount"
               [formControlName]="'amount'"
               type="text" />
      </app-field-wrapper>
  </section>

  <div>
    <button [disabled]="!form.valid"
            class="btn btn-primary"
            type="submit">
      {{ 'i18n.transactions.form.button.save' | translate }}
    </button>
    <button class="btn btn-danger"
            type="button"
            (click)="deleteTransaction()">
      {{ 'i18n.transactions.form.button.delete' | translate }}
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="cancel()">
      {{ 'i18n.transactions.form.button.cancel' | translate }}
    </button>
  </div>

</form>
