<table class="table" *ngIf="transactions">
  <thead>
    <tr>
      <th>{{ 'i18n.components.transactions.table.header.account' | translate }}</th>
      <th *ngIf="labels" class="hidden-sm-down">{{ 'i18n.components.transactions.table.header.label' | translate }}</th>
      <th class="hidden-sm-down">&nbsp;</th>
      <th class="left hidden-sm-down">{{ 'i18n.components.transactions.table.header.reference' | translate }}</th>
      <th>{{ 'i18n.components.transactions.table.header.description' | translate }}</th>
      <th class="hidden-sm-down">{{ 'i18n.components.transactions.table.header.value-date' | translate }}</th>
      <th>{{ 'i18n.components.transactions.table.header.amount' | translate }}</th>
      <th *ngIf="editable">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td class="text-left">
        <span class="badge tooltip tooltip-md tooltip-top-right"
              [style.background]="transaction.account?.color"
              role="tooltip"
              aria-haspopup="true">
          <span>&nbsp;</span>
          <span class="tooltip-content">
            <span>{{ transaction.account?.name }}</span><br/>
            <em>{{ transaction.account?.description }}</em>
          </span>
        </span>
      </td>
      <td *ngIf="editable && labels" class="text-left hidden-sm-down">
        <app-autocomplete [uuid]="transaction.id"
                          [value]="transaction.label"
                          [options]="labels"
                          (onSelect)="changeLabel($event, transaction)"
                          (onCreate)="addLabel($event, transaction)">
        </app-autocomplete>
      </td>
      <td class="hidden-sm-down">
        <span class="tooltip tooltip-sm tooltip-top-right"
              role="tooltip"
              aria-haspopup="true">
          <clr-icon *ngIf="transaction.label.icon"
                    class="is-solid"
                    [attr.shape]="transaction.label.icon"
                    [style.color]="transaction.label.color">
          </clr-icon>
          <span class="tooltip-content">
            <span>{{ transaction.label?.name }}</span><br/>
          </span>
        </span>
      </td>
      <td class="text-left hidden-sm-down">
        {{ transaction.reference }}
      </td>
      <td class="text-left">
        {{ transaction.description }}
      </td>
      <td class="text-center text-nowrap hidden-sm-down">
        {{ transaction.dateValue }}
      </td>
      <td class="text-right"
          [ngClass]="getAmountColor(transaction.amount)">
        <span>{{ transaction.amount | number:'1.2-2' }}&nbsp;€</span>
      </td>
      <td *ngIf="editable">
        <ng-container *ngTemplateOutlet="actionButtons;context:{'transaction': transaction}"></ng-container>
      </td>
    </tr>
  </tbody>
</table>
