<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select -->
    <app-card-wrapper *ngIf="accounts"
                      [label]="'i18n.components.accounts.account-toggle.label' | translate">
      <app-accounts-toggle [accounts]="accounts"
                           [preSelected]="accountsFilter"
                           (onChange)="changeAccounts($event)">
      </app-accounts-toggle>
    </app-card-wrapper>

    <!-- Year select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (onChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Period select-->
    <table class="table table-compact table-vertical card-shadow">
      <tbody>
      <tr>
        <th class="text-left align-middle w-40">{{ 'i18n.views.analytics.period.select.title' | translate }}</th>
        <td class="text-right">
          <clr-dropdown class="text-right">
            <button type="button" class="btn btn-link" clrDropdownTrigger>
              {{ getPeriodSelectLabel(quarterly) | translate }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button *ngFor="let period of [true, false]"
                      type="button"
                      clrDropdownItem
                      (click)="changePeriod(period)">
                <clr-icon *ngIf="period === quarterly" shape="success-standard" class="is-success"></clr-icon>
                <span *ngIf="period !== quarterly" class="icon-empty">&nbsp;</span>
                &nbsp;{{ getPeriodSelectLabel(period) | translate }}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Movements table -->
  <div class="clr-col-12 clr-col-md-8">
    <table class="table table-vertical table-compact card-shadow">
      <tbody>
      <tr>
        <th class="w-20">
          <span *ngIf="quarterly">{{ 'i18n.views.analytics.quarterly.table.title' | translate }}</span>
          <span *ngIf="!quarterly">{{ 'i18n.views.analytics.monthly.table.title' | translate }}</span>
        </th>
        <th *ngFor="let idx of (quarterly ? [1, 2, 3, 4] : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])" class="text-right">
          <span>{{ (quarterly ? 'Q' : '') + idx }}</span>
        </th>
      </tr>
      <tr *ngFor="let movement of tableMovements">
        <th>{{ +movement.name | toCategory:'name' }}</th>
        <td *ngFor="let d of movement.data" class="text-right">
          <span>{{ d | number:'1.2-2' }}&nbsp;€</span>
        </td>
      </tr>
      <tr *ngIf="tableMovements.length === 0">
        <td *ngIf="quarterly" colspan="5">
          <span>{{ 'i18n.views.analytics.table.no-entries' | translate }}</span>
        </td>
        <td *ngIf="!quarterly" colspan="13">
          <span>{{ 'i18n.views.analytics.table.no-entries' | translate }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-bar-chart [chartTitle]="creditChartTitle | translate"
                             [data]="analyticsCredit">
    </app-analytics-bar-chart>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-bar-chart [chartTitle]="debitChartTitle | translate"
                             [data]="analyticsDebit">
    </app-analytics-bar-chart>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-pie-chart [chartTitle]="'i18n.views.analytics.table.credit.title' | translate"
                             [data]="detailsCredit">
    </app-analytics-pie-chart>

    <app-analytics-details-table [data]="detailsCredit"></app-analytics-details-table>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-pie-chart [chartTitle]="'i18n.views.analytics.table.debit.title' | translate"
                             [data]="detailsDebit">
    </app-analytics-pie-chart>

    <app-analytics-details-table [data]="detailsDebit" [expanded]="false"></app-analytics-details-table>
  </div>
</div>

