<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select -->
    <app-card-wrapper *ngIf="accounts"
                      [label]="'i18n.components.accounts.account-toggle.label' | translate">
      <app-accounts-toggle [accounts]="accounts"
                           [preSelected]="accountsFilter"
                           (onChange)="changeAccounts($event)">
      </app-accounts-toggle>
    </app-card-wrapper>

    <!-- Year select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (onChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Period select-->
    <app-card-wrapper [label]="'i18n.views.analytics.period.select.title' | translate">
      <clr-dropdown class="text-right">
        <button type="button" class="btn btn-link" clrDropdownTrigger>
          {{ getPeriodSelectLabel(quarterly) | translate }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <button *ngFor="let period of [true, false]"
                  type="button"
                  clrDropdownItem
                  (click)="changePeriod(period)">
            <clr-icon *ngIf="period === quarterly" shape="success-standard" class="is-success"></clr-icon>
            <span *ngIf="period !== quarterly" class="icon-empty">&nbsp;</span>
            &nbsp;{{ getPeriodSelectLabel(period) | translate }}
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </app-card-wrapper>
  </div>

  <!-- Movements table -->
  <div class="clr-col-12 clr-col-md-8">
    <app-analytics-movements-table *ngIf="analyticsMovements"
                                   [movements]="analyticsMovements"
                                   [quarterly]="quarterly">
    </app-analytics-movements-table>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-bar-chart [chartTitle]="creditChartTitle | translate"
                             [data]="analyticsCredit">
    </app-analytics-bar-chart>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-bar-chart [chartTitle]="debitChartTitle | translate"
                             [data]="analyticsDebit">
    </app-analytics-bar-chart>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-pie-chart [chartTitle]="'i18n.views.analytics.table.credit.title' | translate"
                             [data]="detailsCredit">
    </app-analytics-pie-chart>

    <app-analytics-details-table [data]="detailsCredit"
                                 [expanded]="true"
                                 (categoryClick)="displayCategoryDetails($event)"
                                 (labelClick)="goToLabelDetails($event)">
    </app-analytics-details-table>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-analytics-pie-chart [chartTitle]="'i18n.views.analytics.table.debit.title' | translate"
                             [data]="detailsDebit">
    </app-analytics-pie-chart>

    <app-analytics-details-table [data]="detailsDebit"
                                 [expanded]="false"
                                 (categoryClick)="displayCategoryDetails($event)"
                                 (labelClick)="goToLabelDetails($event)">
    </app-analytics-details-table>
  </div>
</div>

<clr-modal *ngIf="analyticsByLabel"
           [clrModalOpen]="showModal"
           (clrModalOpenChange)="closeModal($event)"
           [clrModalSize]="'lg'"
           [clrModalClosable]="true"
           [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ selectedCategory | toCategory:'name' }}</h3>
  <div class="modal-body">
    <app-analytics-bar-chart [chartTitle]="'i18n.views.analytics.modal.title' | translate"
                             [data]="analyticsByLabel"
                             [byCategories]="false">
    </app-analytics-bar-chart>
  </div>
</clr-modal>

