<header class="header-6">
  <div class="header-nav">
    <a uiSref="root.dashboard" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Dashboard</span>
    </a>
    <a uiSref="root.transactions" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Suivi mensuel</span>
    </a>
    <a uiSref="root.treasury" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Trésorerie</span>
    </a>
  </div>
  <div class="header-actions">
    <app-file-drop></app-file-drop>
    <a (click)="clickLogout()" class="nav-link nav-icon logout">
      <clr-icon shape="logout"></clr-icon>
    </a>
  </div>
</header>
