<header class="header-6">
  <div class="header-nav">
    <a uiSref="root.dashboard" uiSrefActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.dashboard' | translate }}</span>
    </a>
    <a uiSref="root.transactions" uiSrefActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.transactions' | translate }}</span>
    </a>
    <a uiSref="root.treasury" uiSrefActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.treasury' | translate }}</span>
    </a>
  </div>
  <div class="header-actions">
    <app-file-drop></app-file-drop>
    <a (click)="clickLogout()" class="nav-link nav-icon logout">
      <clr-icon shape="logout"></clr-icon>
    </a>
  </div>
</header>
