<header class="header-6">
  <div class="branding">
    <a uiSref="root.dashboard" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Project Clarity</span>
    </a>
  </div>
  <div class="header-nav">
    <a uiSref="root.dashboard" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Dashboard</span>
    </a>
    <a uiSref="root.transactions" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Suivi mensuel</span>
    </a>
    <a uiSref="root.treasury" uiSrefActive="active" class="nav-link">
      <span class="nav-text">Trésorerie</span>
    </a>
  </div>
  <div class="header-actions">
    <a (click)="clickLogout()" class="nav-link nav-icon">
      <clr-icon shape="logout"></clr-icon>
    </a>
  </div>
</header>
