<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select -->
    <app-card-wrapper *ngIf="accounts"
                      [label]="'i18n.components.accounts.account-toggle.label' | translate">
      <app-accounts-toggle [accounts]="accounts"
                           [preSelected]="accountsFilter"
                           (onChange)="changeAccounts($event)">
      </app-accounts-toggle>
    </app-card-wrapper>

    <!-- Year select-->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (onChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Month select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.month-dropdown' | translate">
      <app-months-toggle [currentMonth]="currentMonth"
                         (onChange)="changeMonth($event)">
      </app-months-toggle>
    </app-card-wrapper>

    <!-- Summary-->
    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="clr-col-12 clr-col-md-8">
    <app-chart class="card" [title]="'i18n.views.transactions.chart.title' | translate" [options]="graphOptions"></app-chart>
  </div>
</div>

<h3>
  <span>{{ 'i18n.views.transactions.list.title' | translate }}</span>
  <span>&nbsp;</span>
  <span *ngIf="transactions" class="badge badge-info">{{ transactions?.length }}</span>
</h3>

<div class="clr-row">
  <div class="clr-col-12">
    <app-transactions-table [transactions]="transactions"
                            [labels]="labels"
                            [editable]="true"
                            (onChange)="saveTransaction($event)">
      <ng-template #actionButtons
                   let-transaction="transaction">
        <clr-icon class="clickable"
                  (click)="openModal(transaction)"
                  shape="note"
                  size="12">
        </clr-icon>
      </ng-template>
    </app-transactions-table>
  </div>
</div>

<button type="button" class="btn btn-sm btn-icon btn-info" (click)="addTransaction()">
  <clr-icon shape="plus"></clr-icon>
  <span>{{ 'i18n.views.transactions.list.add' | translate }}</span>
</button>
