<clr-header class="header-6">
  <div class="header-nav" [clr-nav-level]="1">
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.dashboard' | translate }}</span>
      <span *ngIf="numAlerts">
        <span>&nbsp;</span>
        <span class="badge badge-danger">{{ numAlerts }}</span>
      </span>
    </a>
    <a [routerLink]="['/transactions']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.transactions' | translate }}</span>
    </a>
    <a [routerLink]="['/treasury']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.treasury' | translate }}</span>
    </a>
    <a [routerLink]="['/analytics']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.analytics' | translate }}</span>
    </a>
    <a [routerLink]="['/budget']" routerLinkActive="active" class="nav-link">
      <span class="nav-text">{{ 'i18n.components.navigation.budget' | translate }}</span>
    </a>
  </div>
  <form class="search clr-hidden-sm-down"
        (submit)="search(searchInput.value)"
        autocomplete="off">
    <label for="search_input">
      <input #searchInput
             id="search_input"
             type="text"
             autocomplete="off"
             placeholder="{{ 'i18n.components.navigation.search' | translate }}" />
    </label>
  </form>
  <div class="header-actions">
    <a [routerLink]="['/transactions/search']"
       routerLinkActive="active"
       class="nav-link nav-icon clr-hidden-md-up">
      <clr-icon shape="search"></clr-icon>
    </a>
    <app-file-drop></app-file-drop>
    <a [routerLink]="['/settings']"
       routerLinkActive="active"
       class="nav-link nav-icon clr-hidden-sm-down">
      <clr-icon shape="cog"></clr-icon>
    </a>
    <a (click)="clickLogout()" class="nav-link nav-icon logout">
      <clr-icon shape="logout"></clr-icon>
    </a>
  </div>
</clr-header>
