<router-outlet></router-outlet>

<clr-vertical-nav [clr-nav-level]="2">
  <a clrVerticalNavLink [routerLink]="'route.settings.labels' | routerPath" routerLinkActive="active">
    <span class="nav-text">{{ 'i18n.components.navigation.settings.labels' | translate }}</span>
  </a>
  <a clrVerticalNavLink [routerLink]="'route.settings.categories' | routerPath" routerLinkActive="active">
    <span class="nav-text">{{ 'i18n.components.navigation.settings.categories' | translate }}</span>
  </a>
  <a clrVerticalNavLink [routerLink]="'route.settings.accounts' | routerPath" routerLinkActive="active">
    <span class="nav-text">{{ 'i18n.components.navigation.settings.accounts' | translate }}</span>
  </a>
</clr-vertical-nav>
