/* You can add global styles to this file, and also import other style files */

.icon-empty {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.clickable {
  cursor: pointer;
}

:focus {
  outline: none !important;
}

.w-100 {
  width: 100% !important;
}

.w-40 {
  width: 40% !important;
}

.w-20 {
  width: 20% !important;
}

.w-15 {
  width: 15% !important;
}

.mb-1 {
  margin-bottom: .5rem;
}

.mr-1 {
  margin-right: .5rem;
}

.card-shadow {
  box-shadow: 0 0.125rem 0 0 #d7d7d7;
}

.clr-form-control {
  margin-top: 0 !important;

  .clr-control-container {
    width: 100%;

    .clr-select-wrapper {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }
}

.text-danger {
  color: #C92100;
}

.text-warning {
  color: #FF8400;
}

.text-info {
  color: #89CBDF;
}

.text-success {
  color: #2f8400;
}

@media (max-width: 767px) {
  .truncate-md-170 {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
