<h3>{{ 'i18n.views.settings.labels.title' | translate }} <span class="badge">{{ formArray?.controls.length }}</span></h3>

<form [formGroup]="form" *ngIf="form" class="clr-form">
  <table class="table card-shadow" [formArrayName]="'labels'">
    <thead>
    <tr>
      <th class="left">{{ 'i18n.views.settings.labels.table.header.name' | translate }}</th>
      <th class="left">{{ 'i18n.views.settings.labels.table.header.icon' | translate }}</th>
      <th class="left">{{ 'i18n.views.settings.labels.table.header.color' | translate }}</th>
      <th class="right">{{ 'i18n.views.settings.labels.table.header.category' | translate }}</th>
      <th class="right">{{ 'i18n.views.settings.labels.table.header.transactions' | translate }}</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let labelForm of formArray.controls" [formGroup]="labelForm">
      <td class="left">
        <input class="clr-input w-100" type="text" [formControlName]="'name'" />
      </td>
      <td class="left">
        <clr-icon [attr.shape]="labelForm.get('icon').value"></clr-icon>
        <input class="clr-input" type="text" [formControlName]="'icon'" />
      </td>
      <td class="left">
          <span class="badge"
                [style.background]="labelForm.get('color').value">
            <span>&nbsp;</span>
          </span>
        <input class="clr-input" type="text" [formControlName]="'color'" />
      </td>
      <td class="right">
        <select [formControlName]="'category_id'" clrSelect>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </td>
      <td class="right">
        <span class="label" [ngClass]="labelForm.get('numTransactions').value > 0 ? 'label-info' : 'label-danger'">
            {{ labelForm.get('numTransactions').value }}
          </span>
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-icon btn-danger" (click)="deleteLabel(labelForm.value)">
          <clr-icon shape="trash" size="16"></clr-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</form>

<button type="button" class="btn btn-sm btn-icon btn-info" (click)="addLabel()">
  <clr-icon shape="plus"></clr-icon>
  <span>{{ 'i18n.views.settings.labels.add' | translate }}</span>
</button>
