<div *ngIf="i18nLabel && for" class="clr-col-12 clr-col-md-4">
  <label [for]="for">{{ i18nLabel | translate }}</label>
</div>
<div *ngIf="for && ctrl" class="clr-col-12 clr-col-md-8">
  <label [for]="for"
         aria-haspopup="true"
         role="tooltip"
         class="tooltip tooltip-validation tooltip-md"
         [ngClass]="{'invalid': isInvalid()}">
    <ng-content></ng-content>
    <span class="tooltip-content" *ngIf="isInvalid()">
              {{ ctrl.errors | json }}
          </span>
  </label>
</div>
