<div class="row">
  <div class="col-xs-4">
    <nav class="subnav mt-1">
      <div class="col-xs-6">Year</div>
      <clr-dropdown class="col-xs-6 text-right">
        <button type="button" class="btn btn-link" clrDropdownTrigger>
          {{ currentYear }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <button *ngFor="let year of yearList"
                  type="button"
                  clrDropdownItem
                  uiSref="root.treasury"
                  [uiParams]="{ year: year }">{{ year }}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </nav>

    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="col-xs-8">
    <app-chart class="card" [title]="'i18n.views.treasury.chart.title' | translate" [options]="graphOptions"></app-chart>
  </div>
</div>
