<div class="row">
  <div class="col-xs-12 col-md-4">
    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <app-year-toggle [currentYear]="currentYear"
                     (onChange)="changeYear($event)">
    </app-year-toggle>
  </div>
  <div class="col-xs-12 col-md-8">
    <table class="table table-vertical">
      <tr>
        <td width="20%">{{ 'i18n.views.analytics.table.title' | translate }}</td>
        <th class="text-right">Q1</th>
        <th class="text-right">Q2</th>
        <th class="text-right">Q3</th>
        <th class="text-right">Q4</th>
      </tr>
      <tr *ngFor="let movement of tableMovements">
        <th>{{ movement.name }}</th>
        <td *ngFor="let d of movement.data" class="text-right">
          <span>{{ d | number:'1.2-2' }}&nbsp;€</span>
        </td>
      </tr>
      <tr *ngIf="tableMovements.length === 0">
        <td colspan="5">
          <span>{{ 'i18n.views.analytics.table.no-entries' | translate }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-analytics-quarterly-chart [chartTitle]="'i18n.views.analytics.chart.credit.title' | translate"
                                   [data]="analyticsCredit">
    </app-analytics-quarterly-chart>
  </div>

  <div class="col-xs-12 col-md-6">
    <app-analytics-quarterly-chart [chartTitle]="'i18n.views.analytics.chart.debit.title' | translate"
                                   [data]="analyticsDebit">
    </app-analytics-quarterly-chart>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-analytics-details-chart [chartTitle]="'i18n.views.analytics.table.credit.title' | translate"
                                 [data]="detailsCredit">
    </app-analytics-details-chart>

    <app-analytics-details-table [data]="detailsCredit"></app-analytics-details-table>
  </div>

  <div class="col-xs-12 col-md-6">
    <app-analytics-details-chart [chartTitle]="'i18n.views.analytics.table.debit.title' | translate"
                                 [data]="detailsDebit">
    </app-analytics-details-chart>

    <app-analytics-details-table [data]="detailsDebit" [expanded]="false"></app-analytics-details-table>
  </div>
</div>

