<div class="row">
  <div class="col-xs-12 col-md-4">

    <!-- Account select -->
    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <!-- Year select -->
    <app-year-toggle [currentYear]="currentYear"
                     (onChange)="changeYear($event)">
    </app-year-toggle>

    <!-- Period select-->
    <table class="table table-compact table-vertical">
      <tr>
        <th class="text-left align-middle" width="40%">{{ 'i18n.views.analytics.period.select.title' | translate }}</th>
        <td class="text-right">
          <clr-dropdown class="col-xs-6 text-right">
            <button type="button" class="btn btn-link" clrDropdownTrigger>
              {{ getPeriodSelectLabel(quarterly) | translate }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button *ngFor="let period of [true, false]"
                      type="button"
                      clrDropdownItem
                      (click)="changePeriod(period)">
                <clr-icon *ngIf="period === quarterly" shape="check-circle" class="is-success"></clr-icon>
                <span *ngIf="period !== quarterly" class="icon-empty">&nbsp;</span>
                {{ getPeriodSelectLabel(period) | translate }}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12 col-md-8">
    <table class="table table-vertical">
      <tr>
        <td width="20%">
          <span *ngIf="quarterly">{{ 'i18n.views.analytics.quarterly.table.title' | translate }}</span>
          <span *ngIf="!quarterly">{{ 'i18n.views.analytics.monthly.table.title' | translate }}</span>
        </td>
        <th *ngFor="let idx of (quarterly ? [1, 2, 3, 4] : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])" class="text-right">
          <span>{{ (quarterly ? 'Q' : '') + idx }}</span>
        </th>
      </tr>
      <tr *ngFor="let movement of tableMovements">
        <th>{{ movement.name }}</th>
        <td *ngFor="let d of movement.data" class="text-right">
          <span>{{ d | number:'1.2-2' }}&nbsp;€</span>
        </td>
      </tr>
      <tr *ngIf="tableMovements.length === 0">
        <td *ngIf="quarterly" colspan="5">
          <span>{{ 'i18n.views.analytics.table.no-entries' | translate }}</span>
        </td>
        <td *ngIf="!quarterly" colspan="13">
          <span>{{ 'i18n.views.analytics.table.no-entries' | translate }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-analytics-quarterly-chart [chartTitle]="creditChartTitle | translate"
                                   [prefix]="quarterly ? 'Q' : ''"
                                   [data]="analyticsCredit">
    </app-analytics-quarterly-chart>
  </div>

  <div class="col-xs-12 col-md-6">
    <app-analytics-quarterly-chart [chartTitle]="debitChartTitle | translate"
                                   [prefix]="quarterly ? 'Q' : ''"
                                   [data]="analyticsDebit">
    </app-analytics-quarterly-chart>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-analytics-details-chart [chartTitle]="'i18n.views.analytics.table.credit.title' | translate"
                                 [data]="detailsCredit">
    </app-analytics-details-chart>

    <app-analytics-details-table [data]="detailsCredit"></app-analytics-details-table>
  </div>

  <div class="col-xs-12 col-md-6">
    <app-analytics-details-chart [chartTitle]="'i18n.views.analytics.table.debit.title' | translate"
                                 [data]="detailsDebit">
    </app-analytics-details-chart>

    <app-analytics-details-table [data]="detailsDebit" [expanded]="false"></app-analytics-details-table>
  </div>
</div>

