<nav class="subnav">
  <clr-dropdown>
    <button type="button" class="btn btn-link" clrDropdownTrigger>
      {{ currentYear }}
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <button *ngFor="let year of yearList"
              type="button"
              clrDropdownItem
              uiSref="root.transactions"
              [uiParams]="{ year: year }">{{ year }}</button>
    </clr-dropdown-menu>
  </clr-dropdown>

  <ul class="nav">
    <li class="nav-item" *ngFor="let month of monthList; let i = index">
      <a class="nav-link" uiSref="root.transactions" [uiParams]="{ month: i + 1 }" uiSrefActive="active">{{ month }}</a>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="col-md-8 col-xs-12">
    <app-chart class="card" [options]="graphOptions"></app-chart>
  </div>
</div>

<h3>{{ 'i18n.views.transactions.list.title' | translate }}</h3>

<app-transactions-table [transactions]="transactions"
                        [labels]="labels"
                        (onChange)="saveTransaction($event)">
</app-transactions-table>
