<div class="clr-row" *ngIf="unlabeledTransactions > 0">
  <div class="clr-col-12">
    <clr-alert [clrAlertType]="'alert-danger'"
               [clrAlertClosable]="false">
      <div class="alert-item">
        <span class="alert-text">
          {{ 'i18n.views.dashboard.error.unlabeled-transactions' | translate:{num: unlabeledTransactions} }}
        </span>
        <div class="alert-actions">
          <a (click)="goToUnlabeledTransactions()" class="alert-action fix-that">
            {{ 'i18n.views.dashboard.error.unlabeled-transactions-fix' | translate }}
          </a>
        </div>
      </div>
    </clr-alert>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title clr-row">
          <span class="clr-col-6">{{ 'i18n.views.dashboard.accounts.total' | translate }}</span>
          <span class="clr-col-6 text-right"><strong>{{ total | number:'1.2-2' }}&nbsp;€</strong></span>
        </h4>
      </div>
    </div>

    <app-chart class="card" [title]="'i18n.views.dashboard.chart.title' | translate" [options]="graphOptions"></app-chart>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-account-card *ngFor="let account of accounts"
                      [account]="account">
    </app-account-card>
  </div>
</div>
