<table class="table" *ngIf="transactions">
  <thead>
    <tr>
      <th class="left">Reference</th>
      <th>Description</th>
      <th>Value date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td class="text-left">{{ transaction.reference }}</td>
      <td class="text-left">{{ transaction.description }}</td>
      <td class="text-center">{{ transaction.dateValue }}</td>
      <td class="text-right">{{ transaction.amount | number:'1.2-2' }} €</td>
    </tr>
  </tbody>
</table>
