<table class="table" *ngIf="transactions">
  <thead>
    <tr>
      <th>{{ 'i18n.modules.transactions.table.header.account' | translate }}</th>
      <th>{{ 'i18n.modules.transactions.table.header.label' | translate }}</th>
      <th class="left">{{ 'i18n.modules.transactions.table.header.reference' | translate }}</th>
      <th>{{ 'i18n.modules.transactions.table.header.description' | translate }}</th>
      <th>{{ 'i18n.modules.transactions.table.header.value-date' | translate }}</th>
      <th>{{ 'i18n.modules.transactions.table.header.amount' | translate }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td class="text-left">
        <span class="badge tooltip tooltip-md tooltip-top-right"
              [style.background]="transaction.account?.color"
              role="tooltip"
              aria-haspopup="true">
          <span>&nbsp;</span>
          <span class="tooltip-content">
            <span>{{ transaction.account?.name }}</span><br/>
            <em>{{ transaction.account?.description }}</em>
          </span>
        </span>
      </td>
      <td class="text-left">
        <div class="select">
          <input title="Label"
                 type="text"
                 auto-complete
                 [ngModel]="transaction.label"
                 (valueChanged)="changeLabel($event, transaction)"
                 [value-formatter]="labelDropdownFormatter"
                 [list-formatter]="'name'"
                 [auto-complete-placeholder]="'None'"
                 [max-num-list]="10"
                 [accept-user-input]="false"
                 [source]="labels" />
        </div>
      </td>
      <td class="text-left">{{ transaction.reference }}</td>
      <td class="text-left">{{ transaction.description }}</td>
      <td class="text-center text-nowrap">{{ transaction.dateValue }}</td>
      <td class="text-right">{{ transaction.amount | number:'1.2-2' }}&nbsp;€</td>
      <td><clr-icon (click)="select(transaction)" shape="note" size="12"></clr-icon></td>
    </tr>
  </tbody>
</table>

<clr-modal *ngIf="selectedTransaction" [(clrModalOpen)]="showModal" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ selectedTransaction.reference }}</h3>
  <div class="modal-body">
    <app-transactions-form [model]="selectedTransaction"
                           (onFormSubmit)="changeTransaction($event)"
                           (onFormDelete)="deleteTransaction($event)">
    </app-transactions-form>
  </div>
</clr-modal>
