<table class="table" *ngIf="labels">
  <thead>
  <tr>
    <th class="left">{{ 'i18n.modules.labels.table.header.name' | translate }}</th>
    <th class="left">{{ 'i18n.modules.labels.table.header.icon' | translate }}</th>
    <th class="left">{{ 'i18n.modules.labels.table.header.color' | translate }}</th>
    <th class="right">{{ 'i18n.modules.labels.table.header.category' | translate }}</th>
    <th class="right">{{ 'i18n.modules.labels.table.header.transactions' | translate }}</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let label of labels">
    <td class="left">
      <span>{{ label.name }}</span>
    </td>
    <td class="left">
      <clr-icon [attr.shape]="label.icon"></clr-icon>
      <span>{{ label.icon }}</span>
    </td>
    <td class="left">
        <span class="badge"
              [style.background]="label.color">
          <span>&nbsp;</span>
        </span>
      {{ label.color }}
    </td>
    <td class="right">{{ 0 }}</td>
    <td class="right">{{ 0 }}</td>
    <td>
      <button type="button" class="btn btn-sm btn-icon btn-danger">
        <clr-icon shape="trash" size="16"></clr-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
