<div class="row">
  <div class="col-xs-12 col-md-4">
    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <table class="table table-compact table-vertical">
      <tr>
        <th class="text-left align-middle" width="40%">{{ 'i18n.views.treasury.label.year-dropdown' | translate }}</th>
        <td class="text-right">
          <clr-dropdown class="col-xs-6 text-right">
            <button type="button" class="btn btn-link" clrDropdownTrigger>
              {{ currentYear }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button *ngFor="let year of yearList"
                      type="button"
                      clrDropdownItem
                      [routerLink]="['/treasury', year]">
                <clr-icon *ngIf="year === currentYear" shape="check-circle" class="is-success"></clr-icon>
                <span *ngIf="year !== currentYear" class="icon-empty">&nbsp;</span>
                {{ year }}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </td>
      </tr>
    </table>

    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="col-xs-12 col-md-8">
    <app-chart class="card" [title]="'i18n.views.treasury.chart.title' | translate" [options]="graphOptions"></app-chart>
  </div>
</div>

<h3>{{ 'i18n.views.treasury.top-list.title' | translate }}</h3>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-transactions-table [transactions]="topTransactionsAsc"></app-transactions-table>
  </div>
  <div class="col-xs-12 col-md-6">
    <app-transactions-table [transactions]="topTransactionsDesc"></app-transactions-table>
  </div>
</div>
