<table *ngIf="summary" class="table">
  <thead>
    <tr>
      <th colspan="2">Etat du compte</th>
      <th colspan="2">Résumé des mouvements</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-left">Début du mois</td>
      <td class="text-right" [ngClass]="getAmountColor(summary.amountStart)">{{ summary.amountStart | number:'1.2-2' }}&nbsp;€</td>
      <td class="text-left">Débit</td>
      <td class="text-right" [ngClass]="getAmountColor(summary.totalDebit)">{{ summary.totalDebit | number:'1.2-2' }}&nbsp;€</td>
    </tr>
    <tr>
      <td class="text-left">Fin du mois</td>
      <td class="text-right font-weight-bold" [ngClass]="getAmountColor(summary.amountEnd)">{{ summary.amountEnd | number:'1.2-2' }}&nbsp;€</td>
      <td class="text-left">Crédit</td>
      <td class="text-right" [ngClass]="getAmountColor(summary.totalCredit)">{{ summary.totalCredit | number:'1.2-2' }}&nbsp;€</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td class="text-left">Résultat</td>
      <td class="text-right font-weight-bold" [ngClass]="getAmountColor(result)">{{ result | number:'1.2-2' }}&nbsp;€</td>
    </tr>
  </tbody>
</table>
