<h3>{{ 'i18n.views.transactions.list.title' | translate }} <span class="badge">{{ transactions?.length }}</span></h3>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select -->
    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <!-- Label select -->
    <app-label-toggle *ngIf="labels"
                      [labels]="labels"
                      [value]="labelsFilter"
                      (onChange)="changeLabels($event)">
    </app-label-toggle>
  </div>

  <!-- Year select -->
  <div class="clr-col-12 clr-col-md-4">
    <table class="table table-compact table-vertical card-shadow">
      <tbody>
      <tr>
        <th class="text-left align-middle" width="40%">{{ 'i18n.views.transactions.label.year-dropdown' | translate }}</th>
        <td class="text-right">
          <clr-dropdown class="text-right">
            <button type="button" class="btn btn-link" clrDropdownTrigger>
              {{ currentYear ? currentYear : ('i18n.views.transactions.label.year-dropdown.all' | translate) }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button type="button"
                      clrDropdownItem
                      (click)="changeYear(undefined)">
                <clr-icon *ngIf="!currentYear" shape="check-circle" class="is-success"></clr-icon>
                <span *ngIf="currentYear" class="icon-empty">&nbsp;</span>
                <span>{{ 'i18n.views.transactions.label.year-dropdown.all' | translate }}</span>
              </button>
              <button *ngFor="let year of yearList"
                      type="button"
                      clrDropdownItem
                      (click)="changeYear(year)">
                <clr-icon *ngIf="year === currentYear" shape="check-circle" class="is-success"></clr-icon>
                <span *ngIf="year !== currentYear" class="icon-empty">&nbsp;</span>
                {{ year }}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Month select -->
    <table class="table table-compact table-vertical card-shadow">
      <tbody>
      <tr>
        <th class="text-left align-middle" width="40%">{{ 'i18n.views.transactions.label.month-dropdown' | translate }}</th>
        <td class="text-right">
          <clr-dropdown class="text-right">
            <button type="button" class="btn btn-link" clrDropdownTrigger>
              {{ currentMonth ? ('i18n.months.' + currentMonth | translate) : ('i18n.views.transactions.label.month-dropdown.all' | translate) }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button type="button"
                      clrDropdownItem
                      (click)="changeMonth(undefined)">
                <clr-icon *ngIf="!currentMonth" shape="check-circle" class="is-success"></clr-icon>
                <span *ngIf="currentMonth" class="icon-empty">&nbsp;</span>
                <span>{{ 'i18n.views.transactions.label.month-dropdown.all' | translate }}</span>
              </button>
              <button *ngFor="let month of monthList"
                      type="button"
                      clrDropdownItem
                      (click)="changeMonth(month)">
                <clr-icon *ngIf="month === currentMonth" shape="check-circle" class="is-success"></clr-icon>
                <span *ngIf="month !== currentMonth" class="icon-empty">&nbsp;</span>
                {{ 'i18n.months.' + month | translate }}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Text search -->
  <div class="clr-col-12 clr-col-md-4">
    <table class="table table-compact table-vertical card-shadow">
      <tbody>
      <tr>
        <th class="text-left align-middle" width="40%">{{ 'i18n.views.transactions.label.desc-input' | translate }}</th>
        <td class="text-right">
          <form class="clr-form" (submit)="navigate()" autocomplete="off">
            <input class="clr-input w-100"
                   name="descFilter"
                   [(ngModel)]="descFilter"
                   type="text"
                   autocomplete="off" />
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="clr-row" *ngIf="transactions?.length === 500">
  <div class="clr-col-12">
    <clr-alert [clrAlertType]="'alert-warning'"
               [clrAlertClosable]="false">
      <div class="alert-item">
        <span class="alert-text">
          {{ 'i18n.views.transactions.warning.too-many' | translate }}
        </span>
      </div>
    </clr-alert>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12">
    <app-transactions-table [transactions]="transactions"
                            [labels]="labels"
                            [editable]="true"
                            (onChange)="saveTransaction($event)">
    </app-transactions-table>
  </div>
</div>
