<div class="row">
  <div class="col-xs-4">
    <table class="table table-compact table-vertical">
      <tr>
        <th class="text-left align-middle" width="40%">{{ 'i18n.views.analytics.label.year-dropdown' | translate }}</th>
        <td class="text-right">
          <clr-dropdown class="col-xs-6 text-right">
            <button type="button" class="btn btn-link" clrDropdownTrigger>
              {{ currentYear }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button *ngFor="let year of yearList"
                      type="button"
                      clrDropdownItem
                      uiSref="root.analytics"
                      [uiParams]="{ year: year }">{{ year }}</button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </td>
      </tr>
    </table>

    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>
  </div>
  <div class="col-xs-8">
    <table class="table table-vertical">
      <tr>
        <td width="20%">{{ 'i18n.views.analytics.table.title' | translate }}</td>
        <th class="text-right">Q1</th>
        <th class="text-right">Q2</th>
        <th class="text-right">Q3</th>
        <th class="text-right">Q4</th>
      </tr>
      <tr *ngFor="let movement of tableMovements">
        <th>{{ movement.name }}</th>
        <td *ngFor="let d of movement.data" class="text-right">
          <span>{{ d | number:'1.2-2' }}&nbsp;€</span>
        </td>
      </tr>
      <tr *ngIf="tableMovements.length === 0">
        <td colspan="5">
          <span>{{ 'i18n.views.analytics.table.no-entries' | translate }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <app-chart class="card" [title]="'i18n.views.analytics.chart.credit.title' | translate" [options]="graphOptionsCredit"></app-chart>

    <h3>{{ 'i18n.views.analytics.table.credit.title' | translate }}</h3>

    <app-grouped-details-table [details]="detailsCredit"></app-grouped-details-table>
  </div>
  <div class="col-xs-6">
    <app-chart class="card" [title]="'i18n.views.analytics.chart.debit.title' | translate" [options]="graphOptionsDebit"></app-chart>

    <h3>{{ 'i18n.views.analytics.table.debit.title' | translate }}</h3>

    <app-grouped-details-table [details]="detailsDebit" [expanded]="false"></app-grouped-details-table>
  </div>
</div>

