.file-drop {
  background-color: #314351;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 1rem;
  color: black;

  .content {
    height: auto !important;
    color: #FAFAFA !important;
    opacity: 0.65;
    font-weight: 500;
  }
}
