<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select-->
    <app-card-wrapper *ngIf="accounts"
                      [label]="'i18n.components.accounts.account-toggle.label' | translate">
      <app-accounts-toggle [accounts]="accounts"
                           [preSelected]="accountsFilter"
                           (accountsChange)="changeAccounts($event)">
      </app-accounts-toggle>
    </app-card-wrapper>

    <!-- Year select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (yearChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Label select -->
    <app-card-wrapper *ngIf="labels"
                      [label]="'i18n.components.transactions.label-toggle.label' | translate">
      <app-labels-toggle [labels]="labels"
                         [value]="labelsFilter"
                         (labelsChange)="changeLabels($event)">
      </app-labels-toggle>
    </app-card-wrapper>

    <!-- Summary -->
    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="clr-col-12 clr-col-md-8">
    <app-treasury-evolution-chart [chartTitle]="'i18n.views.treasury.chart.title' | translate"
                                  [evolutionData]="evolution"
                                  [aggregationCreditData]="aggregationCredit"
                                  [aggregationDebitData]="aggregationDebit">
    </app-treasury-evolution-chart>
  </div>
</div>

<h3>{{ 'i18n.views.treasury.top-list.title' | translate }}</h3>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-transactions-table [transactions]="topTransactionsAsc"></app-transactions-table>
  </div>
  <div class="clr-col-12 clr-col-md-6">
    <app-transactions-table [transactions]="topTransactionsDesc"></app-transactions-table>
  </div>
</div>
