<table class="table" *ngIf="categories">
  <thead>
  <tr>
    <th class="left">{{ 'i18n.modules.categories.table.header.name' | translate }}</th>
    <th class="left">{{ 'i18n.modules.categories.table.header.type' | translate }}</th>
    <th class="right">{{ 'i18n.modules.categories.table.header.labels' | translate }}</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td class="left">
      <span>{{ category.name }}</span>
    </td>
    <td class="left">
      <span>{{ category.type }}</span>
    </td>
    <td class="right">{{ 0 }}</td>
    <td>
      <button type="button" class="btn btn-sm btn-icon btn-danger">
        <clr-icon shape="trash" size="16"></clr-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
