<h3>{{ 'i18n.views.settings.categories.title' | translate }} <span class="badge">{{ formArray?.controls.length }}</span></h3>

<form [formGroup]="form" *ngIf="form" class="clr-form">
  <table class="table card-shadow" [formArrayName]="'categories'">
    <thead>
    <tr>
      <th class="left w-40">{{ 'i18n.views.settings.categories.table.header.name' | translate }}</th>
      <th class="left w-20">{{ 'i18n.views.settings.categories.table.header.color' | translate }}</th>
      <th class="left w-25">{{ 'i18n.views.settings.categories.table.header.type' | translate }}</th>
      <th class="right w-10">{{ 'i18n.views.settings.categories.table.header.labels' | translate }}</th>
      <th class="w-15">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categoryForm of formArray.controls" [formGroup]="categoryForm">
      <td class="left">
        <input class="clr-input w-100" type="text" [formControlName]="'name'" size="45" />
      </td>
      <td class="left">
          <span class="badge"
                [style.background]="categoryForm.get('color').value">
            <span>&nbsp;</span>
          </span>
        <input class="clr-input" type="text" [formControlName]="'color'" />
      </td>
      <td class="right">
        <select clrSelect [formControlName]="'type'">
          <option [value]="'C'">{{ 'i18n.views.settings.categories.form.values.type.credit' | translate }}</option>
          <option [value]="'D'">{{ 'i18n.views.settings.categories.form.values.type.debit' | translate }}</option>
          <option [value]="'M'">{{ 'i18n.views.settings.categories.form.values.type.transfer' | translate }}</option>
        </select>
      </td>
      <td class="right">
        <span class="label" [ngClass]="categoryForm.get('numLabels').value > 0 ? 'label-info' : 'label-danger'">
          {{ categoryForm.get('numLabels').value }}
        </span>
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-icon btn-danger" (click)="deleteCategory(categoryForm.value)">
          <clr-icon shape="trash" size="16"></clr-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</form>
