<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select -->
    <app-card-wrapper *ngIf="accounts"
                      [label]="'i18n.components.accounts.account-toggle.label' | translate">
      <app-accounts-toggle [accounts]="accounts"
                           [preSelected]="accountsFilter"
                           (onChange)="changeAccounts($event)">
      </app-accounts-toggle>
    </app-card-wrapper>

    <!-- Year select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (onChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Month select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.month-dropdown' | translate">
      <app-months-toggle [currentMonth]="currentMonth"
                         (onChange)="changeMonth($event)">
      </app-months-toggle>
    </app-card-wrapper>
  </div>

  <div class="clr-col-12 clr-col-md-8">
    <app-budget-chart [chartTitle]="'i18n.views.budget.categories.chart.title' | translate"
                      [data]="budgetStatusList"
                      (handleClick)="goToDetails($event)">
    </app-budget-chart>
  </div>
</div>
