<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">

    <!-- Account select -->
    <app-card-wrapper *ngIf="accounts"
                      [label]="'i18n.components.accounts.account-toggle.label' | translate">
      <app-accounts-toggle [accounts]="accounts"
                           [preSelected]="accountsFilter"
                           (onChange)="changeAccounts($event)">
      </app-accounts-toggle>
    </app-card-wrapper>

    <!-- Year select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.year-dropdown' | translate">
      <app-years-toggle [currentYear]="currentYear"
                        (onChange)="changeYear($event)">
      </app-years-toggle>
    </app-card-wrapper>

    <!-- Month select -->
    <app-card-wrapper [label]="'i18n.components.dates.label.month-dropdown' | translate">
      <app-months-toggle [currentMonth]="currentMonth"
                         (onChange)="changeMonth($event)">
      </app-months-toggle>
    </app-card-wrapper>
  </div>

  <div class="clr-col-12 clr-col-md-8">
    <app-budget-chart [chartTitle]="'i18n.views.budget.categories.chart.title' | translate"
                      [data]="budgetStatusList"
                      (handleClick)="goToDetails($event)">
    </app-budget-chart>

    <div class="text-right">
      <button type="button" class="btn btn-sm btn-icon btn-info mr-none" (click)="openModal()">
        <clr-icon shape="plus"></clr-icon>
        <span>{{ 'i18n.views.budgets.button.create' | translate }}</span>
      </button>
    </div>
  </div>
</div>

<clr-modal *ngIf="newBudget"
           [(clrModalOpen)]="showModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ 'i18n.views.budgets.button.create' | translate }}</h3>
  <div class="modal-body">
    <app-budget-form [model]="newBudget"
                     [labels]="labels"
                     [accounts]="accounts"
                     (onFormSubmit)="saveBudget($event)"
                     (onFormCancel)="closeModal()">
    </app-budget-form>
  </div>
</clr-modal>
