<div class="login-wrapper">
  <form *ngIf="loginForm"
        class="login"
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="tryLogin()">
    <div class="title">
      <h3 class="welcome">{{ 'i18n.views.login.welcome.text' | translate }}</h3>
      <div>{{ 'i18n.app.title' | translate }}</div>
      <h5 class="hint">{{ 'i18n.views.login.help-text' | translate }}</h5>
    </div>
    <div class="login-group">
      <div [hidden]="formIsLoading">
        <input [formControlName]="'username'"
               autocomplete="off"
               clrInput
               name="username"
               class="username"
               type="text"
               id="login_username"
               [placeholder]="'i18n.views.login.form.placeholder.username' | translate">
        <input [formControlName]="'password'"
               autocomplete="off"
               clrInput
               name="password"
               class="password"
               type="password"
               id="login_password"
               [placeholder]="'i18n.views.login.form.placeholder.password' | translate">
        <clr-alert *ngIf="loginForm.errors"
                   [clrAlertType]="'danger'"
                   [clrAlertClosable]="false">
          <clr-alert-item *ngFor="let error of loginForm.errors | keyvalue">
            <span class="alert-text"
                  [innerHTML]="'i18n.error.' + error.key | translate">
            </span>
          </clr-alert-item>
        </clr-alert>
      </div>
      <div class="spinner spinner-sm"
           [hidden]="!formIsLoading">
        <span>{{ 'i18n.views.login.loading' | translate }}</span>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="loginForm.invalid"
              [hidden]="formIsLoading">
        <span>{{ 'i18n.views.login.form.button.submit' | translate }}</span>
      </button>
    </div>
    <div *ngIf="appProperties" class="login-footer">
      <span class="login-version">{{ appProperties.appVersion }}</span>
    </div>
  </form>
</div>

<app-notification-modal></app-notification-modal>
