.login-wrapper {
  background: url("https://source.unsplash.com/1920x1080/weekly?water,nature,rocks") right;
  background-size: cover;
}

.login-footer {
  padding-top: .5rem;
  text-align: center;

  &__version {
    display: inline-block;
    font-size: 0.5rem;
    color: darkgray;
  }

  &__status {
    display: inline-block;
  }

  &__progress {
    text-align: center;

    .progress {
      width: 60%;
      height: 3px;
      margin-left: 20%;
      border-radius: 2px;
    }
  }
}

