<div class="autocomplete select">
  <input type="text"
         [ngModel]="ngModel"
         class="autocomplete-input"
         (ngModelChange)="onChange($event)"
         (keyup)="select($event)"
         (focusout)="onFocusOut()"/>
  <div class="autocomplete-options" *ngIf="ngOptions">
    <div *ngFor="let option of ngOptions"
         [ngClass]="{'selected': isSelected(option)}"
         (click)="selectClick(option)">
      <span>{{ option[labelAttribute] }}</span>
    </div>
  </div>
</div>
