<div class="clr-row">
  <div class="clr-col-12 clr-col-md-4">
    <!-- Account select-->
    <app-accounts-toggle *ngIf="accounts"
                         [accounts]="accounts"
                         [preSelected]="accountsFilter"
                         (onChange)="changeAccounts($event)">
    </app-accounts-toggle>

    <!-- Year select -->
    <app-years-toggle [currentYear]="currentYear"
                      (onChange)="changeYear($event)">
    </app-years-toggle>

    <!-- Label select -->
    <app-labels-toggle *ngIf="labels"
                       [labels]="labels"
                       [value]="labelsFilter"
                       (onChange)="changeLabels($event)">
    </app-labels-toggle>

    <!-- Summary -->
    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="clr-col-12 clr-col-md-8">
    <app-treasury-evolution-chart [chartTitle]="'i18n.views.treasury.chart.title' | translate"
                                  [evolutionData]="evolution"
                                  [aggregationCreditData]="aggregationCredit"
                                  [aggregationDebitData]="aggregationDebit">
    </app-treasury-evolution-chart>
  </div>
</div>

<h3>{{ 'i18n.views.treasury.top-list.title' | translate }}</h3>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-transactions-table [transactions]="topTransactionsAsc"></app-transactions-table>
  </div>
  <div class="clr-col-12 clr-col-md-6">
    <app-transactions-table [transactions]="topTransactionsDesc"></app-transactions-table>
  </div>
</div>
