<app-dashboard-alerts [alerts]="alerts"
                      [creditCategories]="creditCategories"
                      [debitCategories]="debitCategories">
</app-dashboard-alerts>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title clr-row">
          <span class="clr-col-6">{{ 'i18n.views.dashboard.accounts.total' | translate }}</span>
          <span class="clr-col-6 text-right"><strong>{{ total | number:'1.2-2' }}&nbsp;€</strong></span>
        </h4>
      </div>
    </div>

    <app-dashboard-accounts-chart [chartTitle]="'i18n.views.dashboard.chart.title' | translate"
                                  [accounts]="accounts">
    </app-dashboard-accounts-chart>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-dashboard-account-card *ngFor="let account of accounts"
                                [account]="account">
    </app-dashboard-account-card>
  </div>
</div>
