<app-dashboard-alerts [alerts]="alerts"
                      [creditCategories]="creditCategories"
                      [debitCategories]="debitCategories">
</app-dashboard-alerts>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <app-dashboard-total-summary *ngIf="accounts"
                                 [accounts]="accounts"
                                 [rollingMonthSummary]="rollingMonthSummary"
                                 [rollingThreeMonthsSummary]="rollingThreeMonthsSummary"
                                 [rollingYearSummary]="rollingYearSummary">
    </app-dashboard-total-summary>

    <app-dashboard-accounts-chart [chartTitle]="'i18n.views.dashboard.chart.title' | translate"
                                  [accounts]="accounts">
    </app-dashboard-accounts-chart>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <app-dashboard-account-card *ngFor="let account of accounts"
                                [account]="account">
    </app-dashboard-account-card>
  </div>
</div>
