<div class="row">
  <div class="col-md-4 col-xs-12">
    <app-account-toggle *ngIf="accounts"
                        [accounts]="accounts"
                        [preSelected]="accountsFilter"
                        (onChange)="changeAccounts($event)">
    </app-account-toggle>

    <app-year-toggle [currentYear]="currentYear"
                     (onChange)="changeYear($event)">
    </app-year-toggle>

    <app-month-toggle [currentMonth]="currentMonth"
                      (onChange)="changeMonth($event)">
    </app-month-toggle>

    <app-summary [summary]="summary"></app-summary>
  </div>
  <div class="col-md-8 col-xs-12">
    <app-chart class="card" [title]="'i18n.views.transactions.chart.title' | translate" [options]="graphOptions"></app-chart>
  </div>
</div>

<h3>{{ 'i18n.views.transactions.list.title' | translate }}</h3>

<div class="row">
  <div class="col-xs-12">
    <app-transactions-table [transactions]="transactions"
                            [labels]="labels"
                            [editable]="true"
                            (onChange)="saveTransaction($event)">
      <ng-template #actionButtons
                   let-transaction="transaction">
        <clr-icon class="clickable"
                  (click)="openModal(transaction)"
                  shape="note"
                  size="12">
        </clr-icon>
      </ng-template>
    </app-transactions-table>
  </div>
</div>

<button type="button" class="btn btn-sm btn-icon btn-info" (click)="addTransaction()">
  <clr-icon shape="plus"></clr-icon>
  <span>{{ 'i18n.views.transactions.list.add' | translate }}</span>
</button>

<clr-modal *ngIf="selectedTransaction"
           [(clrModalOpen)]="showModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ selectedTransaction.reference }}</h3>
  <div class="modal-body">
    <app-transactions-form [model]="selectedTransaction"
                           [labels]="labels"
                           [accounts]="accounts"
                           (onFormSubmit)="saveTransaction($event)"
                           (onFormCancel)="closeModal($event)"
                           (onFormDelete)="deleteTransaction($event)">
    </app-transactions-form>
  </div>
</clr-modal>
