<h3>
  <span>{{ 'i18n.views.transactions.list.title' | translate }}</span>
  <span>&nbsp;</span>
  <span *ngIf="transactions" class="badge badge-info">{{ transactions?.length }}</span>
</h3>

<app-search-form [accounts]="accounts"
                 [labels]="labels"
                 [categories]="categories"
                 (searchChange)="loadData($event)">
</app-search-form>

<div class="clr-row" *ngIf="transactions?.length === 500">
  <div class="clr-col-12">
    <clr-alert [clrAlertType]="'alert-warning'"
               [clrAlertClosable]="false">
      <div class="alert-item">
        <span class="alert-text">
          {{ 'i18n.views.transactions.warning.too-many' | translate }}
        </span>
      </div>
    </clr-alert>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12">
    <app-transactions-table [transactions]="transactions"
                            [labels]="labels"
                            [editable]="true"
                            (onChange)="saveTransaction($event)">
    </app-transactions-table>
  </div>
</div>
