<nav class="subnav">
  <clr-dropdown>
    <button type="button" class="btn btn-link" clrDropdownTrigger>
      {{ currentYear }}
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <button *ngFor="let year of yearList"
              type="button"
              clrDropdownItem
              uiSref="root.transactions"
              [uiParams]="{ year: year }">{{ year }}</button>
    </clr-dropdown-menu>
  </clr-dropdown>

  <ul class="nav">
    <li class="nav-item" *ngFor="let month of monthList; let i = index">
      <a class="nav-link" uiSref="root.transactions" [uiParams]="{ month: i + 1 }" uiSrefActive="active">{{ month }}</a>
    </li>
  </ul>
</nav>

<h3>List of transactions</h3>

<table class="table">
  <thead>
    <tr>
      <th class="left">Reference</th>
      <th>Description</th>
      <th>Value date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td class="left">{{ transaction.reference }}</td>
      <td class="left">{{ transaction.description }}</td>
      <td>{{ transaction.date_value }}</td>
      <td class="right">{{ transaction.amount | number:'1.2-2' }} €</td>
    </tr>
  </tbody>
</table>

